.loading{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.loading__mask{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
}
.loading__content{
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  animation: App-logo-spin infinite 20s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}